<!DOCTYPE html>
<html>
<head>
    <title>Intro to Backend Blog</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <meta http-equiv="refresh" content="1;url=/">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="col-md-12 text-center bg-success">Page Deleted</h1>
        </div>
    </div>
</body>
</html>