{% extends "base.html" %}
{% block title %}New Post{% endblock %}
{% block content %}
<h2>Add a Post</h2>
<form method="post">
  <div class="form-group {{ title_class }}">
    <label class="control-label" for="post_title">Title</label>
    <input class="form-control" type="text" name="post_title" id="post_title"
    value="{{ post_title }}" aria-described-by="helpBlockTitle">
    <div id="helpBlockTitle" class="help-block">{{ title_error }}</div>
  </div>
  <div class="form-group {{ text_class }}">
    <label class="control-label"  for="post_text">Body</label>
    <textarea class="form-control" name="post_text" id="post_text"
    aria-described-by="helpBlockTitle">{{ post_text }}</textarea>
    <div id="helpBlockText" class="help-block">{{ text_error }}</div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
