<div class="row">
  <div class="col-md-1">
    <a class="btn btn-default" href="/{{ p.key.id() }}#comments">Comments</a>
  </div>
  {% if user.name == p.created_by %}
  <div class="col-md-2">
    <a class="btn btn-default" href="/{{ p.key.id() }}/edit">Edit</a>
  </div>
  {% else %}
  <div class="col-md-3 text-left">
    {% if user.name in p.likes and user.name != created_by %}
    <form method="post" action="/{{ p.key.id() }}/unlike">
      <button type="submit" class="btn btn-default">Unlike</button>
    </form>
    {% else %}
    <form method="post" action="/{{ p.key.id() }}/like">
      <button type="submit" class="btn btn-default">Like</button>
    </form>
    {% endif %}
  </div>
  {% endif %}
</div>